@gap-item-view: @padding-default;

// COMMON LIST AND ICON RULES
.icon-view,
.list-view {
  div[role="listbox"]:not(.grid) {
    //not(.grid) exclude masonry structure
    display: flex;
    flex-wrap: wrap;
    margin-left: -@gap-item-view;
    margin-right: -@gap-item-view;

    >div {
      width: 100%;
      padding: 0 @gap-item-view;
      margin-bottom: @margin-default;
    }
  }
}

.icon-view {
  div[role="listbox"]:not(.grid) {

    //not(.grid) exclude masonry structure
    >div {
      @media (min-width:576px) {
        width: 50%;
      }

      @media (min-width:768px) {
        width: 33.3333333333%;
      }
    }

  }
}



.event-index {
  .icon-view {
    div[role="listbox"] {

      >div {
        @media (min-width:992px) {
          width: 50%;
          padding: @padding-large 15px;
        }
      }
    }
  }
}

.dashboard-default-index {
  .icon-view {
    div[role="listbox"] {
      >div {
        @media (min-width:992px) {
          width: 16.66666667%;
        }
      }
    }
  }
}

.community-index {
  .icon-view {
    div[role="listbox"] {
      >div {
        @media (min-width:992px) {
          width: 25%;
        }
      }
    }
  }
}

.user-profile-index {
  .icon-view {
    div[role="listbox"] {
      >div {
        border-bottom: 1px solid #b1b1b3;
      }
    }
  }
}

.are-profilo-index {
  .icon-view {
    div[role="listbox"] {

      >div {
        display: flex;

        @media (min-width:576px) {
          width: 50%;
        }

        @media (min-width:992px) {
          width: 33.3333333333%;
        }
      }

    }
  }
}

.news-index {
  .icon-view, .list-view {
    div[role="listbox"] {


      >div {
        display: flex;

        @media (min-width:576px) {
          width: 50%;
        }

        @media (min-width:768px) {
          width: 33.3333333333%;
        }
      }

    }
  }
}

/* GRAFICA PER DATABANK */
.attach-gallery-form,
.gallery-masonry {
  .list-view {
    div[role="listbox"]:not(.grid) {
      display: block;
      margin: 0;
      >div {
        padding: 0;
        margin: 0;
      }
    }
  }
}

/* GRAFICA PREVIEW IMMAGINE SINGOLA DATABANK */
.row.detail-image-masonry {
  display: flex;
  flex-wrap: wrap;
  .mr-2 {
    margin-right: 8px;
  }
  .image-detail{
    margin-top:24px
  }
  @media (min-width: 576px){
    .order-sm-1 {
      order: 1;
    }
    .order-sm-0 {
      order: 0;
    }
    .order-sm-2 {
      order: 2;
    }
    .text-sm-right {
      text-align: right !important;
    }
  }
}

.widget-graphic-cms-bi-less {
  margin-bottom: 12px;
  margin-top: 24px;

  .manage {
    ul {
      padding: 5px 0;

      li {
        padding: 0;
      }
    }
  }
}

.manage {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;

  span {
    color: inherit;
  }

  &.col-xs-2 {
    position: relative;
    right: inherit;
  }

  .manage-menu {
    font-size: 22px;
    display: flex;
    padding: 6px 8px;
    float: none;
    text-decoration: none;
    width: auto;
  }
}

.report-dropdown {
  .btn {
    padding: 6px 8px;
  }

  span+.caret {
    margin-left: 3px;
  }
}

.manage+.report-dropdown {
  margin-right: 6px;
}